/* ! ------------------------fonts-------------------- */

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria.woff') format('woff'), url('../fonts/Geometria.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* ! -------------------reset-styles------------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


/* ! ------------------------body-------------------- */

html,
body {
    min-width: 320px;
    height: 100%;
    font-weight: 400;
    font-style: normal;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body.lock {
    overflow: hidden;
}

// ?===========================!!! for all devices !!!================================
.header {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 10%;
    background-color: #0d0d0d;
    color: #fff;
    z-index: 999;
    &__wrapper {
        position: relative;
        z-index: 99;
        height: 100vh;
        padding: 30% 25%;
    }
    &__logo {
        position: relative;
        z-index: 99;
    }
    &__burger {
        position: absolute;
        z-index: 99;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 23px;
        color: #fff;
        background-color: #0d0d0d;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        span {
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 3px;
            top: 10px;
            transition: all 0.5s ease 0s;
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            background-color: #fff;
            transition: all 0.5s ease 0s;
        }
        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }
        &.active span {
            transform: scale(0);
        }
        &.active::before {
            transform: rotate(45deg);
            top: 11px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
    }
    &__burger-sign {
        display: block;
        margin-top: 40px;
        transform: translateX(-9px);
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
    }
    &__menu {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 15;
        background-color: #0d0d0d;
        transition: all 0.8s ease 0s;
        &.active {
            left: 0;
        }
    }
    &__menu-background {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1e1e1e;
        transition: all 1.3s ease 0s;
        color: #fff;
        &.active {
            left: 0;
        }
    }
    &__list {
        font-size: 50px;
        font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }
    &__item {}
    &__link {
        transition: all 0.4s ease 0s;
        &:hover {
            color: #6b94b3;
        }
    }
}

body.burger-lock {
    overflow: hidden;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #195a8bcc;
    &__wrapper {
        position: absolute;
        bottom: 8%;
        left: 15%;
    }
    &__title {
        font-size: 35px;
        font-weight: 700;
        font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }
    &__logo {
        margin-top: 20px;
        width: 90%;
    }
    &__img {}
    &__slogan {
        margin-top: 50px;
        font-size: 80px;
        font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-weight: 700;
        &_line-height {
            margin-top: -20px;
        }
    }
}

.about {
    &__wrapper {
        background-color: #195a8b3f;
    }
    &__description {
        margin: 2.5% 4% 0 0;
        padding-left: 2%;
        width: 30%;
        font-weight: 700;
        border-left: 4px solid #b89669;
    }
    &__content {
        margin-top: 2%;
    }
    &__text {
        &:nth-child(n+2) {
            margin-top: 3%;
        }
    }
}

.section {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    &__wrapper {
        padding: 5% 5% 5% 15%;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
    }
    &__description {
        font-size: 38px;
        flex-shrink: 0;
    }
    &__content {
        font-family: 'Geometria', Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    &__container {
        display: flex;
        align-items: flex-start;
    }
}

.practice {
    &__wrapper {
        background-color: #f6f7f8;
    }
    &__container {
        justify-content: space-between;
    }
    &__description {
        width: 50%;
        margin-top: 3%;
        padding-left: 2%;
        font-weight: 700;
        border-left: 4px solid #b89669;
    }
    &__content {
        margin-top: 3.5%;
        margin-left: 2%;
    }
    &__text {
        &::before {
            content: '';
            display: inline-block;
            margin-right: 5px;
            width: 22px;
            height: 22px;
            border: 2px solid #b89669;
            border-radius: 50%;
            vertical-align: top;
            background-image: url("../svg/checkmark.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:nth-child(n+2) {
            margin-top: 4%;
        }
    }
    &__link {
        transition: all 0.5s ease 0s;
        &:hover {
            font-size: 22px;
            color: #b89669;
        }
    }
    &__more {
        margin: 2% 0 0 20%;
    }
    &__link-more {
        position: relative;
        padding-left: 30px;
        transition: all 0.5s ease 0s;
        &:hover {
            font-size: 17px;
            color: #b89669;
        }
        &::before {
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            display: block;
            margin-right: 5px;
            width: 22px;
            height: 22px;
            vertical-align: middle;
            background-image: url("../svg/squares-ico.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.expert {
    &__content {
        width: 80%;
        margin: 2% auto;
        padding-left: 2%;
        border-left: 4px solid #b89669;
    }
    &__image {
        display: block;
        margin: 0 auto;
    }
}